*
!.gitignore
!app/
!framework/
!logs/
app/*
!app/.gitignore
framework/*
!framework/.gitignore
!framework/cache/
!framework/sessions/
!framework/views/
framework/cache/*
!framework/cache/.gitignore
framework/sessions/*
!framework/sessions/.gitignore
framework/views/*
!framework/views/.gitignore
logs/*
!logs/.gitignore
